body {display: flex}

.manage {
    display:flex;

    p {
        margin-left: 5px;
        margin-right: 5px;
    }
}

#screen {
    margin-left: 200px;
}

.dice {
    margin-right: 10px;
    margin-left: 20px;
    padding: 25px;
}

.section {
    display: flex;
}